name: Check for changes in docker compose file
on:
  push:
    branches: [main,stage]

jobs:
  deploy:
    runs-on: hakim
    strategy:
      matrix:
        include:
          - file: multimedia/docker-compose.yml
            server: multimedia
            user: debian
          - file: homelab/docker-compose.yml
            server: homelab
            user: mohammed
    container:
      volumes:
        - /mnt/homelab/ssh:/root/.ssh
    env:
      SSH_OPTS: "-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
      SSH_CONNECT: ${{ matrix.user }}@${{ matrix.server }}
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Fetch main branch
        run: git fetch origin main
      - name: Deploy if compose file changed
        run: |
          git fetch --depth=1 origin --tags
          LATEST_TAG=$(git tag -l "${{ matrix.server }}_v*" --sort=-v:refname | head -1)
          if [ -n "$(git diff --name-only $LATEST_TAG -- ${{ matrix.file }})" ]; then
            echo ${{ matrix.file }} has changed
            scp $SSH_OPTS ${{ matrix.file }} $SSH_CONNECT:~/docker-compose.yml
            ssh $SSH_OPTS $SSH_CONNECT 'docker compose -f ~/docker-compose.yml pull && docker compose -f ~/docker-compose.yml up -d'
            git tag ${{ matrix.server }}_v$(date +'%Y.%m.%d-%H%M%S') && git push origin --tags
          fi
